@{
    ViewBag.Title = "Начальная страница";
}
    <h2>Приложение для проверки попадания точки в полигон.</h2>
    <p>@Html.ActionLink("Создать полигон", "CreatePolygonManually", null, new { @class = "btn btn-primary" })</p>
    

   
